# ----------------------------------------------------------------------
# CONFIG APACHE ET PHP #
# ----------------------------------------------------------------------
AddDefaultCharset UTF-8

#Entete pour forcer à passer le projet en version souhaitée
<IfModule mod_fcgid.c>
	AddHandler php-7-3 .php
</IfModule>

# ----------------------------------------------------------------------
# REECRITURE D'URL #
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

    #On redirige Tout vers public
    RewriteRule .* - [env=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteRule    ^$   public/    [L]
    RewriteRule    (.*) public/$1    [L]
</IfModule>
